header.header
  .header-linklist
    a(href="#").header-linklist__link.header-linklist__link_menu 
      div
        span
        span
        span
      p Меню
    a(href="#").header-linklist__link Прямая трансляция
    a(href="#").header-linklist__link Календарь событий
  a(href="/").header__logo
    img(src="assets/images/logo.png", alt="Эволюция Центр здоровья")
    img(src="assets/images/logo-mobile.png", alt="Эволюция Центр здоровья")
  .header-phones
    a(href="tel: 8 (800) 777-18-26").header-phones__link 8 (800) 777-18-26
    a(href="#").header-phones__call 
      img(src="assets/images/phone.png", alt="Phone Icon")
      p Перезвоните мне