.children-supa
  .supa-wrap
    p.defaultTitle.supa__title Также для комфортного отдыха
    p.defaultSubtitle Подзаголовок
    .supaSlider-insideSlider-wrap.supaSlider-item
      p.children-supa__placeholder Трансфер
      <div class="supaSlider-insideSliderBlock">
        <div class="supaSlider-insideSliderBlock__prev"><img style="transform: rotate(180deg);" src="assets/images/arrowSlider.png"></div>
        <div class="supaSlider-insideSliderBlock__next"><img src="assets/images/arrowSlider.png"></div>
      </div>
      .supaSlider-insideSlider
        .supaSlider-insideSlider__item
          p.children-supa__text Трансфер
          a(href="#").btn.btn_accent.children-supa__btn Подробнее
            img(src="assets/images/arrow-right.png" alt="arrow-right")
          img(data-lazy="assets/images/child_camp/transport/transport-img1.jpg", style="width" alt="")
        .supaSlider-insideSlider__item
          p.children-supa__text Трансфер
          a(href="#").btn.btn_accent.children-supa__btn Подробнее
            img(src="assets/images/arrow-right.png" alt="arrow-right")
          img(data-lazy="assets/images/child_camp/transport/transport-img1.jpg", alt="")
        .supaSlider-insideSlider__item
          p.children-supa__text Трансфер
          a(href="#").btn.btn_accent.children-supa__btn Подробнее
            img(src="assets/images/arrow-right.png" alt="arrow-right")
          img(data-lazy="assets/images/child_camp/transport/transport-img1.jpg", alt="")
        .supaSlider-insideSlider__item
          p.children-supa__text Трансфер
          a(href="#").btn.btn_accent.children-supa__btn Подробнее
            img(src="assets/images/arrow-right.png" alt="arrow-right")
          img(data-lazy="assets/images/child_camp/transport/transport-img1.jpg", alt="")
        .supaSlider-insideSlider__item
          p.children-supa__text Трансфер
          a(href="#").btn.btn_accent.children-supa__btn Подробнее
            img(src="assets/images/arrow-right.png" alt="arrow-right")
          img(data-lazy="assets/images/child_camp/transport/transport-img1.jpg", alt="")
        .supaSlider-insideSlider__item
          p.children-supa__text Трансфер
          a(href="#").btn.btn_accent.children-supa__btn Подробнее
            img(src="assets/images/arrow-right.png" alt="arrow-right")
          img(data-lazy="assets/images/child_camp/transport/transport-img1.jpg", alt="")