extends ../template
block title
  | 6.1 Абонементы и цены
block content
  .red.fitnes
    .bannerWrap.bannerWrap_reab
      .bannerBgWrap
        img(src="assets/images/abon-1.png", alt="Центр здоровья").bannerBg
      .banner.banner_onIndex
        .banner-desc
          h1.banner-desc__title Абонементы<br>
            span И ЦЕНЫ
          p.banner-desc__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, odio ut architecto libero corrupti mollitia similique corporis illum iure facilis nostrum quasi laudantium sed aliquam optio, ea debitis aperiam aut.
        .banner-img
          img(src="assets/images/abon-2.png", alt="Дышит в трубку")
        p.banner__placeholder Фитнес
    .children-supa.supaCard.supaFitnes
      .supa-wrap
        p.defaultTitle.supaCard__title Абонементы
        p.defaultSubtitle.supaCard__subtitle Краткое описание
        .supaSlider-insideSlider-wrap.supaSlider-item
          <div class="supaSlider-insideSliderBlock">
            <div class="supaSlider-insideSliderBlock__prev"><img style="transform: rotate(180deg);" src="assets/images/arrowSlider.png"></div>
            <div class="supaSlider-insideSliderBlock__next"><img src="assets/images/arrowSlider.png"></div>
          </div>
          .supaSlider-insideSlider.supaSlider-insideSlider_chainHead
            .supaSlider-insideSlider__item
              .supaSlider-insideSlider__item-content(style="background-image: url(assets/images/card.png);")
                p.children-supa__suptitle Абонемент
                p.children-supa__title Карта Gold Pass 
                p.children-supa__text 360 дней
                a(href="#").btn.btn_accent.children-supa__btn Подробнее
                  img(src="assets/images/arrow-right.png" alt="arrow-right")
            .supaSlider-insideSlider__item
              .supaSlider-insideSlider__item-content(style="background-image: url(assets/images/card.png);")
                p.children-supa__suptitle Абонемент
                p.children-supa__title Карта Gold Pass 
                p.children-supa__text 360 дней
                a(href="#").btn.btn_accent.children-supa__btn Подробнее
                  img(src="assets/images/arrow-right.png" alt="arrow-right")
            .supaSlider-insideSlider__item
              .supaSlider-insideSlider__item-content(style="background-image: url(assets/images/card.png);")
                p.children-supa__suptitle Абонемент
                p.children-supa__title Карта Gold Pass 
                p.children-supa__text 360 дней
                a(href="#").btn.btn_accent.children-supa__btn Подробнее
                  img(src="assets/images/arrow-right.png" alt="arrow-right")
            .supaSlider-insideSlider__item
              .supaSlider-insideSlider__item-content(style="background-image: url(assets/images/card.png);")
                p.children-supa__suptitle Абонемент
                p.children-supa__title Карта Gold Pass 
                p.children-supa__text 360 дней
                a(href="#").btn.btn_accent.children-supa__btn Подробнее
                  img(src="assets/images/arrow-right.png" alt="arrow-right")
        .supaSlider-insideSlider-wrap.supaSlider-item
          .supaSlider-insideSlider.supaSlider-insideSlider_chain
            .supaSlider-insideSlider__item
              p.supaSlider-insideSlider__item__title Карта Gold Pass <br>360 дней
              .supaSlider-insideSlider__item-col
                p.supaSlider-insideSlider__item-col__title Посещение крытого бассейна 25м:
                p.supaSlider-insideSlider__item-col__text Понедельник — Суббота 07.00 до 09.00 |<br> 12.00 до 14.00 | 19.00 до 22.00<br>Воскресенье — 07.00 до 22.00
                p.supaSlider-insideSlider__item-col__title Посещение любых тренажёрных залов:
                p.supaSlider-insideSlider__item-col__text ежедневно с 07:00 до 22:00
                p.supaSlider-insideSlider__item-col__title Посещение банного комплекса:
                p.supaSlider-insideSlider__item-col__text Вт, Чт, Вс с 12.00-22.00, Сб с 12.00-21:30 по графику
              .supaSlider-insideSlider__item-col
                p.supaSlider-insideSlider__item-col__title А также:
                p.supaSlider-insideSlider__item-col__text Пользование полотенцами
                p.supaSlider-insideSlider__item-col__text Вводное занятие с инструктором тренажерного зала
                p.supaSlider-insideSlider__item-col__title Wi-Fi
                p.supaSlider-insideSlider__item-col__text Заморозка на 14 дней 500 ₽
                p.supaSlider-insideSlider__item-col__text Переоформление 1000 ₽
                p.supaSlider-insideSlider__item-col__text Пользование полотенцем, простыней 50 
                a(href="#").btn.btn_accent.children-supa__btn Заказть карту
            .supaSlider-insideSlider__item
              p.supaSlider-insideSlider__item__title Карта Gold Pass <br>360 дней
              .supaSlider-insideSlider__item-col
                p.supaSlider-insideSlider__item-col__title Посещение крытого бассейна 25м:
                p.supaSlider-insideSlider__item-col__text Понедельник — Суббота 07.00 до 09.00 |<br> 12.00 до 14.00 | 19.00 до 22.00<br>Воскресенье — 07.00 до 22.00
                p.supaSlider-insideSlider__item-col__title Посещение любых тренажёрных залов:
                p.supaSlider-insideSlider__item-col__text ежедневно с 07:00 до 22:00
                p.supaSlider-insideSlider__item-col__title Посещение банного комплекса:
                p.supaSlider-insideSlider__item-col__text Вт, Чт, Вс с 12.00-22.00, Сб с 12.00-21:30 по графику
              .supaSlider-insideSlider__item-col
                p.supaSlider-insideSlider__item-col__title А также:
                p.supaSlider-insideSlider__item-col__text Пользование полотенцами
                p.supaSlider-insideSlider__item-col__text Вводное занятие с инструктором тренажерного зала
                p.supaSlider-insideSlider__item-col__title Wi-Fi
                p.supaSlider-insideSlider__item-col__text Заморозка на 14 дней 500 ₽
                p.supaSlider-insideSlider__item-col__text Переоформление 1000 ₽
                p.supaSlider-insideSlider__item-col__text Пользование полотенцем, простыней 50 
                a(href="#").btn.btn_accent.children-supa__btn Заказть карту
            .supaSlider-insideSlider__item
              p.supaSlider-insideSlider__item__title Карта Gold Pass <br>360 дней
              .supaSlider-insideSlider__item-col
                p.supaSlider-insideSlider__item-col__title Посещение крытого бассейна 25м:
                p.supaSlider-insideSlider__item-col__text Понедельник — Суббота 07.00 до 09.00 |<br> 12.00 до 14.00 | 19.00 до 22.00<br>Воскресенье — 07.00 до 22.00
                p.supaSlider-insideSlider__item-col__title Посещение любых тренажёрных залов:
                p.supaSlider-insideSlider__item-col__text ежедневно с 07:00 до 22:00
                p.supaSlider-insideSlider__item-col__title Посещение банного комплекса:
                p.supaSlider-insideSlider__item-col__text Вт, Чт, Вс с 12.00-22.00, Сб с 12.00-21:30 по графику
              .supaSlider-insideSlider__item-col
                p.supaSlider-insideSlider__item-col__title А также:
                p.supaSlider-insideSlider__item-col__text Пользование полотенцами
                p.supaSlider-insideSlider__item-col__text Вводное занятие с инструктором тренажерного зала
                p.supaSlider-insideSlider__item-col__title Wi-Fi
                p.supaSlider-insideSlider__item-col__text Заморозка на 14 дней 500 ₽
                p.supaSlider-insideSlider__item-col__text Переоформление 1000 ₽
                p.supaSlider-insideSlider__item-col__text Пользование полотенцем, простыней 50 
                a(href="#").btn.btn_accent.children-supa__btn Заказть карту
            .supaSlider-insideSlider__item
              p.supaSlider-insideSlider__item__title Карта Gold Pass <br>360 дней
              .supaSlider-insideSlider__item-col
                p.supaSlider-insideSlider__item-col__title Посещение крытого бассейна 25м:
                p.supaSlider-insideSlider__item-col__text Понедельник — Суббота 07.00 до 09.00 |<br> 12.00 до 14.00 | 19.00 до 22.00<br>Воскресенье — 07.00 до 22.00
                p.supaSlider-insideSlider__item-col__title Посещение любых тренажёрных залов:
                p.supaSlider-insideSlider__item-col__text ежедневно с 07:00 до 22:00
                p.supaSlider-insideSlider__item-col__title Посещение банного комплекса:
                p.supaSlider-insideSlider__item-col__text Вт, Чт, Вс с 12.00-22.00, Сб с 12.00-21:30 по графику
              .supaSlider-insideSlider__item-col
                p.supaSlider-insideSlider__item-col__title А также:
                p.supaSlider-insideSlider__item-col__text Пользование полотенцами
                p.supaSlider-insideSlider__item-col__text Вводное занятие с инструктором тренажерного зала
                p.supaSlider-insideSlider__item-col__title Wi-Fi
                p.supaSlider-insideSlider__item-col__text Заморозка на 14 дней 500 ₽
                p.supaSlider-insideSlider__item-col__text Переоформление 1000 ₽
                p.supaSlider-insideSlider__item-col__text Пользование полотенцем, простыней 50 
                a(href="#").btn.btn_accent.children-supa__btn Заказть карту