extends ../template
block title
  | 6.4 Групповые занятия 1
block content
  .red
    .textBlock.textBlock_rtl.textBlock_group(style="background-image: url('assets/images/group-1-bg.png');")
      h1.defaultTitle.textBlock__title Бассейн
      p.defaultSubtitle.textBlock__subtitle С кратким описанием 
      .textBlock-wrap
        .textBlock-images
          .textBlock-images-img
            img(src="assets/images/group1.png", alt="").textBlock-images__img
        .textBlock-desc
          h2.textBlock-desc__title Для тех, кто ценит чистый пляж
          p.textBlock-desc__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Integer tristique lorem sit amet volutpat cursus. Vestibulum gravida, ante a vulputate blandit, purus turpis eleifend nunc, nec finibus leo enim non tortor. Quisque ac por/ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu libero eu justo faucibus gravida ac id nibh. Pellentesque quam nisl, aliquam eu lobortis eget, auctor vel sem. Etiam bibendum, orci quis dictum euismod, orci libero euismod est, mollis maximus augue turpis sit amet massa. Integer ullamcorper quam vitae urna pellentesque, in accumsan metus imperdiet. Quisque sed vehicula lorem, non tempor lorem. Fusce bibendum eros vitae tincidunt ornare. Ut quis ultricies dolor. Suspendisse luctus malesuada erat, vitae elementum est pellentesque eget. Donec imperdiet risus consequat dolor condimentum sodales. Vestibulum eget ex eu orci lobortis pharetra 
    .group
      .group-wrap
        h3.defaultTitle.group__title Групповые занятия фитнесом
        p.defaultSubtitle.group__subtitle Краткое описание
        p.group__placeholder Фитнесс
        .group-outer
          .group-slider
            .group-slider-item
              .group-slider-item-galery
                .group-slider-item-galery-slider1
                  .group-slider-item-galery-slider1-item
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/aQO_XjHYq8I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group1-sl2.png", alt="")
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group1-sl3.png", alt="")
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group2.png", alt="")
                .group-slider-item-galery-slider2
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group1-sl1.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group1-sl2.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group1-sl3.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
              .group-slider-item-desc
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещения
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1 200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 8 посещений
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1 800 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 12 посещений
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 2 400 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col Разовое посещение групповых занятий
                  p.group-slider-item-desc-col 7 дней
                  p.group-slider-item-desc-col 350 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col Разовое занятие <br>с тренером
                  p.group-slider-item-desc-col 45 минут
                  p.group-slider-item-desc-col 500 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col Разовое парное (сплит) занятие с тренером
                  p.group-slider-item-desc-col 45 минут
                  p.group-slider-item-desc-col 800 руб.
            .group-slider-item
              .group-slider-item-galery
                .group-slider-item-galery-slider1
                  .group-slider-item-galery-slider1-item
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/aQO_XjHYq8I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group2.png", alt="")
                .group-slider-item-galery-slider2
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
              .group-slider-item-desc
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
            .group-slider-item
              .group-slider-item-galery
                .group-slider-item-galery-slider1
                  .group-slider-item-galery-slider1-item
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/aQO_XjHYq8I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider1-item
                    img(src="assets/images/group2.png", alt="")
                .group-slider-item-galery-slider2
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
                  .group-slider-item-galery-slider2-item
                    img(src="assets/images/group2.png", alt="")
              .group-slider-item-desc
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.
                .group-slider-item-desc-row
                  p.group-slider-item-desc-col 4 посещенияv
                  p.group-slider-item-desc-col 30 дней
                  p.group-slider-item-desc-col 1200 руб.