extends ../template
block title
  | 4.1.1.2 Опорно-двигательный аппарат
block content
  .bannerWrap
    .bannerBgWrap
      img(src="assets/images/odaBG.png", alt="Центр здоровья").bannerBg
    .banner.banner_program
      .banner-desc
        p.banner-desc__suptitle Программа реабилитации
        h1.banner-desc__title Опорно-<br>двигательный<br>аппарат
        a(href="#").banner-desc__order 
          img(src="assets/images/order.png", alt="")
          | Оставить<br>заявку
      .banner-img
        img(src="assets/images/odaImg.png", alt="Дышит в трубку")
      p.banner__placeholder Лечение
      form.banner-form
        input(type="text" style="display: none;").hiddenInputForSelectors
        label.label
          .label-view.select-controller
            .label-view-imgbox
              img(src="assets/images/program-icon.png", alt="program-icon")
            .label-view__placeholder Выбрать программу
            .label-view__value
            .label-view__triangle 
          .select-dropDown(data-value="")
            .select-dropDown__item 123
            .select-dropDown__item 123
        label.label
          .label-view.select-controller
            .label-view-imgbox
              img(src="assets/images/calendar-icon.png", alt="calendar-icon")
            .label-view__placeholder Выбрать программу
            .label-view__value
            .label-view__triangle 
          .select-dropDown(data-value="")
            .select-dropDown__item 123
            .select-dropDown__item 123
        label.label
          .label-view
            .label-view-imgbox
              img(src="assets/images/user-icon.png", alt="user-icon")
            input(type="number" placeholder="Количество реабилитантов").label-view__input
        label.label
          .label-view
            .label-view-imgbox
              img(src="assets/images/user-icon.png", alt="user-icon")
            input(type="number" placeholder="Количество сопровождающих").label-view__input
        button(type="submit").btn.btn_accent.banner-form__btn Рассчитать стоимость
  .advantages
    .advantages-wrap
      h3.advantages__title Преимущества
      a(href="#").btn.btn_blue.advantages__order Пройти опрос
      .advantages-row
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/med.png", alt="")
          p.advantages-row-item__title Медицинская лицензия
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/sreda.png", alt="")
          p.advantages-row-item__title Доступная среда
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/clock.png", alt="")
          p.advantages-row-item__title Круглосуточная мед.помощь
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/beach.png", alt="")
          p.advantages-row-item__title Собственный пляж
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/personal.png", alt="")
          p.advantages-row-item__title Опытный персонал
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/razdevalki.png", alt="")
          p.advantages-row-item__title Раздевалки на пляже
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/sea.png", alt="")
          p.advantages-row-item__title Чистейшее море
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/rooms.png", alt="")
          p.advantages-row-item__title Разная категория номеров
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/plosh.png", alt="")
          p.advantages-row-item__title Площадь территории
        .advantages-row-item
          .advantages-row-item__img
            img(src="assets/images/indAdv/stadium.png", alt="")
          p.advantages-row-item__title 17 спортивных сооружений
  .indications
    .indications-wrap
      .indications-desc
        p.indications-desc__title Показания
        p.indications-desc__subtitle Нарушения опорно-двигательного аппарата<br>Травмы позвоночника
        p.indications-desc__title.indications-desc__title_with Методы<br>лечения
        ul.indications-desc-ul
          li.indications-desc-ul__li Лечебная физкультура
          li.indications-desc-ul__li Гидрокинезиотерапия
          li.indications-desc-ul__li Механотерапия
          li.indications-desc-ul__li Социально-бытовая адаптация 
          li.indications-desc-ul__li Обучение владению инвалидной коляской 
          li.indications-desc-ul__li Социокультурная реабилитация 
          li.indications-desc-ul__li Массаж 
          li.indications-desc-ul__li Аппаратная физиотерапия 
          li.indications-desc-ul__li Водолечение
        p.indications-desc__star *Перечень и объем услуг определяется индивидуально в соответствии медицинскими показаниями и состоянием гостя
      .indications-imgbox
        p.indications-imgbox__placeholder Лечение
        .indications-imgbox-img
          img(src="assets/images/pokazODA.png", alt="").indications-imgbox-img__img
  .results
    .results-wrap
      h3.defaultTitle.results__title Результат программы
      h3.defaultSubtitle.results__subtitle Краткое описание
      .results-row
        .results-row-imgbox
          p.results-row-imgbox__placeholder Здоровье
          .results-row-imgbox-img
            img(src="assets/images/odaKolyaska.png", alt="").results-row-imgbox-img__img
        .results-row-desc
          ul.results-row-desc-ul
            li.results-row-desc-ul__li
              span Снижение&nbsp;
              | уровня спастичности
            li.results-row-desc-ul__li
              span Увеличение&nbsp;
              | двигательное активности
            li.results-row-desc-ul__li
              span Улучшение&nbsp;
              | больших моторных функций
            li.results-row-desc-ul__li
              span Увеличение&nbsp;
              | силы мышц в верхних и нижних конечностях
            li.results-row-desc-ul__li
              span Увеличение&nbsp;
              | амплитуды пассивных движений в конечностях
            li.results-row-desc-ul__li
              span Восстановление&nbsp;
              | утраченных после травмы навыков самообслуживания
            li.results-row-desc-ul__li
              span Укрепление&nbsp;
              | мышц, расположенных вокруг поврежденного отдела позвоночника
            li.results-row-desc-ul__li
              span Увеличение&nbsp;
              | уровня физической подготовки и выносливости
            li.results-row-desc-ul__li
              span Функциональное&nbsp;
              | улучшение передвижения
  .video
    .video-wrap
      p.defaultTitle.video__title Видео
      p.defaultSubtitle.video__subtitle Краткое описание
      <iframe width="100%" height="535" src="https://www.youtube.com/embed/WnsNQRA_eOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  .supa
    .supa-wrap
      p.defaultTitle.supa__title Проживание
      p.defaultSubtitle.supa__subtitle С кратким описанием
      .supaSlider.owl-carousel
        .supaSlider-item
          .supaSlider-insideSliderBlock
            .supaSlider-insideSliderBlock__prev
              img(src="assets/images/arrow-supaSlider.png", style="transform: rotate(180deg);" alt="")
            .supaSlider-insideSliderBlock-num
              .supaSlider-insideSliderBlock-num__current 01
              .supaSlider-insideSliderBlock-num__all 04
            .supaSlider-insideSliderBlock__next
              img(src="assets/images/arrow-supaSlider.png", alt="")
          .supaSlider-insideSlider
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
          .supaSlider-item-desc
            .supaSlider-item-desc-top
              p.supaSlider-item-desc-top__title Корпус<br>Реабилитационный
              .supaSlider-item-desc-top-right
                .supaSlider-item-desc-top-right__icon
                  img(src="assets/images/wave_gray.png", alt="")
                p.supaSlider-item-desc-top-right__text 200 м. до моря
            .supaSlider-item-desc-main
              p.supaSlider-item-desc-main__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas vel. 
              .supaSlider-item-desc-main__price Цена за сутки:&nbsp;
                span 2 500 РУБ.
            .supaSlider-item-desc__placeholder Проживание
        .supaSlider-item
          .supaSlider-insideSliderBlock
            .supaSlider-insideSliderBlock__prev
              img(src="assets/images/arrow-supaSlider.png", style="transform: rotate(180deg);" alt="")
            .supaSlider-insideSliderBlock-num
              .supaSlider-insideSliderBlock-num__current 01
              .supaSlider-insideSliderBlock-num__all 04
            .supaSlider-insideSliderBlock__next
              img(src="assets/images/arrow-supaSlider.png", alt="")
          .supaSlider-insideSlider
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
            .supaSlider-insideSlider__item
              img(data-lazy="assets/images/room-slider.png", alt="")
          .supaSlider-item-desc
            .supaSlider-item-desc-top
              p.supaSlider-item-desc-top__title Корпус<br>Реабилитационный
              .supaSlider-item-desc-top-right
                .supaSlider-item-desc-top-right__icon
                  img(src="assets/images/wave_gray.png", alt="")
                p.supaSlider-item-desc-top-right__text 200 м. до моря
            .supaSlider-item-desc-main
              p.supaSlider-item-desc-main__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas vel. 
              .supaSlider-item-desc-main__price Цена за сутки:&nbsp;
                span 2 500 РУБ.
            .supaSlider-item-desc__placeholder Проживание
  .gallery
    .gallery-wrap
      .gallery-left
        .gallery-left-desc
          p.gallery-left-desc__title Фотогалерея
          p.gallery-left-desc__text Детский церебральный паралич
        .gallery-left-grid
          .gallery-left-grid-img
            img(src="assets/images/girl.png", alt="")
          .gallery-left-grid-img
            img(src="assets/images/girl.png", alt="")
          .gallery-left-grid-img
            img(src="assets/images/girl.png", alt="")
          .gallery-left-grid-img
            img(src="assets/images/girl.png", alt="")
      .gallery-right
        .gallery-right-img  
          img(src="assets/images/dcpBan.png", alt="")
        .gallery-right-img  
          img(src="assets/images/dcpBan.png", alt="")
        .gallery-right-img  
          img(src="assets/images/dcpBan.png", alt="")
        .gallery-right-img  
          img(src="assets/images/dcpBan.png", alt="")
        .gallery-right-img  
          img(src="assets/images/dcpBan.png", alt="")
        .gallery-right-img  
          img(src="assets/images/dcpBan.png", alt="")