extends ../template
block title
  | 6.8 Аренда спортивных сооружений
block content
  .fitnes-club.red.fitnes.fitnes-rent
    .bannerWrap
      .bannerBgWrap
        img(src="assets/images/rentBg.png", alt="Центр здоровья").bannerBg
      .banner.banner_onIndex
        .banner-desc
          h1.banner-desc__title АРЕНДА<br>
            span СПОРТИВНЫХ<br>СООРУЖЕНИЙ
          p.banner-desc__hidetext Lorem ipsum dolor sit amet, consectetur
    .shedule-outer
      .shedule-wrap
        .shedule
          .shedule-arr
            .shedule-arr__prev
              <img style="transform: rotate(180deg);" src="assets/images/arrowSlider.png">
            .shedule-arr__next
              <img src="assets/images/arrowSlider.png">
          .shedule-tabs
            a(href="#1").shedule-tabs__tab.active Водно-спортивный<br>комплекс
            a(href="#2").shedule-tabs__tab Физкультурно-<br>оздоровительный<br>комплекс
            a(href="#3").shedule-tabs__tab Малый<br>спортивный зал
            a(href="#4").shedule-tabs__tab Плоскостные<br>спортивные<br>сооружения
            a(href="#5").shedule-tabs__tab Футбольные<br>поля
          .shedule-main
            .shedule-main-item(id="1").active
              .shedule-table
                .shedule-table-row
                  .shedule-table-row-cell Наименование<br>спортивных сооружений
                  .shedule-table-row-cell Описание
                  .shedule-table-row-cell Максимальное кол-во человек
                  .shedule-table-row-cell Стоимость руб./час
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 50 м<br>“Тренировачный”<br>“Олимпийский”
                  .shedule-table-row-cell 1 дорожка<br>8 дорожек<br>10 дорожек
                  .shedule-table-row-cell 12<br>96<br>120
                  .shedule-table-row-cell 3100<br>17360<br>21700
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 25 м<br>“Спортивный”
                  .shedule-table-row-cell 1 дорожка<br>6 дорожек
                  .shedule-table-row-cell 7<br>42
                  .shedule-table-row-cell 2000<br>8400
                .shedule-table-row
                  .shedule-table-row-cell Бассейн ”Дельфин”
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Бассейн Малютка
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Тренажерный зал
                  .shedule-table-row-cell 1 тренажерный <br>зал ВСК
                  .shedule-table-row-cell 20
                  .shedule-table-row-cell 2300
                .shedule-table-row
                  .shedule-table-row-cell Банный комплекс
                  .shedule-table-row-cell Хамам<br>Квантовая камера<br>Сауна<br>Банный комплекс<br>в целом
                  .shedule-table-row-cell 5<br>6<br>6<br>21
                  .shedule-table-row-cell 550<br>550<br>750<br>1750
            .shedule-main-item(id="2")
              .shedule-table
                .shedule-table-row
                  .shedule-table-row-cell Наименование<br>спортивных сооружений
                  .shedule-table-row-cell Описание
                  .shedule-table-row-cell Максимальное кол-во человек
                  .shedule-table-row-cell Стоимость руб./час
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 50 м<br>“Тренировачный”<br>“Олимпийский”
                  .shedule-table-row-cell 1 дорожка<br>8 дорожек<br>10 дорожек
                  .shedule-table-row-cell 12<br>96<br>120
                  .shedule-table-row-cell 3100<br>17360<br>21700
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 25 м<br>“Спортивный”
                  .shedule-table-row-cell 1 дорожка<br>6 дорожек
                  .shedule-table-row-cell 7<br>42
                  .shedule-table-row-cell 2000<br>8400
                .shedule-table-row
                  .shedule-table-row-cell Бассейн ”Дельфин”
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Бассейн Малютка
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Тренажерный зал
                  .shedule-table-row-cell 1 тренажерный <br>зал ВСК
                  .shedule-table-row-cell 20
                  .shedule-table-row-cell 2300
                .shedule-table-row
                  .shedule-table-row-cell Банный комплекс
                  .shedule-table-row-cell Хамам<br>Квантовая камера<br>Сауна<br>Банный комплекс<br>в целом
                  .shedule-table-row-cell 5<br>6<br>6<br>21
                  .shedule-table-row-cell 550<br>550<br>750<br>1750
            .shedule-main-item(id="3")
              .shedule-table
                .shedule-table-row
                  .shedule-table-row-cell Наименование<br>спортивных сооружений
                  .shedule-table-row-cell Описание
                  .shedule-table-row-cell Максимальное кол-во человек
                  .shedule-table-row-cell Стоимость руб./час
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 50 м<br>“Тренировачный”<br>“Олимпийский”
                  .shedule-table-row-cell 1 дорожка<br>8 дорожек<br>10 дорожек
                  .shedule-table-row-cell 12<br>96<br>120
                  .shedule-table-row-cell 3100<br>17360<br>21700
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 25 м<br>“Спортивный”
                  .shedule-table-row-cell 1 дорожка<br>6 дорожек
                  .shedule-table-row-cell 7<br>42
                  .shedule-table-row-cell 2000<br>8400
                .shedule-table-row
                  .shedule-table-row-cell Бассейн ”Дельфин”
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Бассейн Малютка
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Тренажерный зал
                  .shedule-table-row-cell 1 тренажерный <br>зал ВСК
                  .shedule-table-row-cell 20
                  .shedule-table-row-cell 2300
                .shedule-table-row
                  .shedule-table-row-cell Банный комплекс
                  .shedule-table-row-cell Хамам<br>Квантовая камера<br>Сауна<br>Банный комплекс<br>в целом
                  .shedule-table-row-cell 5<br>6<br>6<br>21
                  .shedule-table-row-cell 550<br>550<br>750<br>1750
            .shedule-main-item(id="4")
              .shedule-table
                .shedule-table-row
                  .shedule-table-row-cell Наименование<br>спортивных сооружений
                  .shedule-table-row-cell Описание
                  .shedule-table-row-cell Максимальное кол-во человек
                  .shedule-table-row-cell Стоимость руб./час
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 50 м<br>“Тренировачный”<br>“Олимпийский”
                  .shedule-table-row-cell 1 дорожка<br>8 дорожек<br>10 дорожек
                  .shedule-table-row-cell 12<br>96<br>120
                  .shedule-table-row-cell 3100<br>17360<br>21700
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 25 м<br>“Спортивный”
                  .shedule-table-row-cell 1 дорожка<br>6 дорожек
                  .shedule-table-row-cell 7<br>42
                  .shedule-table-row-cell 2000<br>8400
                .shedule-table-row
                  .shedule-table-row-cell Бассейн ”Дельфин”
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Бассейн Малютка
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Тренажерный зал
                  .shedule-table-row-cell 1 тренажерный <br>зал ВСК
                  .shedule-table-row-cell 20
                  .shedule-table-row-cell 2300
                .shedule-table-row
                  .shedule-table-row-cell Банный комплекс
                  .shedule-table-row-cell Хамам<br>Квантовая камера<br>Сауна<br>Банный комплекс<br>в целом
                  .shedule-table-row-cell 5<br>6<br>6<br>21
                  .shedule-table-row-cell 550<br>550<br>750<br>1750
            .shedule-main-item(id="5")
              .shedule-table
                .shedule-table-row
                  .shedule-table-row-cell Наименование<br>спортивных сооружений
                  .shedule-table-row-cell Описание
                  .shedule-table-row-cell Максимальное кол-во человек
                  .shedule-table-row-cell Стоимость руб./час
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 50 м<br>“Тренировачный”<br>“Олимпийский”
                  .shedule-table-row-cell 1 дорожка<br>8 дорожек<br>10 дорожек
                  .shedule-table-row-cell 12<br>96<br>120
                  .shedule-table-row-cell 3100<br>17360<br>21700
                .shedule-table-row
                  .shedule-table-row-cell Бассейн, 25 м<br>“Спортивный”
                  .shedule-table-row-cell 1 дорожка<br>6 дорожек
                  .shedule-table-row-cell 7<br>42
                  .shedule-table-row-cell 2000<br>8400
                .shedule-table-row
                  .shedule-table-row-cell Бассейн ”Дельфин”
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Бассейн Малютка
                  .shedule-table-row-cell 
                  .shedule-table-row-cell 10
                  .shedule-table-row-cell 2000
                .shedule-table-row
                  .shedule-table-row-cell Тренажерный зал
                  .shedule-table-row-cell 1 тренажерный <br>зал ВСК
                  .shedule-table-row-cell 20
                  .shedule-table-row-cell 2300
                .shedule-table-row
                  .shedule-table-row-cell Банный комплекс
                  .shedule-table-row-cell Хамам<br>Квантовая камера<br>Сауна<br>Банный комплекс<br>в целом
                  .shedule-table-row-cell 5<br>6<br>6<br>21
                  .shedule-table-row-cell 550<br>550<br>750<br>1750
    .SL6
      h2.defaultTitle.SL6__title Спортивный
      p.defaultSubtitle.SL6__subtitle Крытый бассейн
      .SL6-wrap-outer
        p.SL6__placeholder Бассейн
        .SL6-wrap
          .SL6-SLIDER
            .SL6-SLIDER-item
              .SL6-SLIDER-item-imgbox
                .SL6-SLIDER-item-imgbox-img
                  img(src="assets/images/bas-1.png", alt="").SL6-SLIDER-item-imgbox-img__img
                .SL6-SLIDER-item-imgbox-img
                  img(src="assets/images/bas-2.png", alt="").SL6-SLIDER-item-imgbox-img__img
              .SL6-SLIDER-item-desc
                p.SL6-SLIDER-item-desc__title Бассейн крытый «Спортивный»
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Площадь
                  p.SL6-SLIDER-item-desc-row__value 342 м²
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Объем
                  p.SL6-SLIDER-item-desc-row__value 1001,8 м³
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Размер бассейна
                  p.SL6-SLIDER-item-desc-row__value 25 м х 13,7 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Глубина бассейна
                  p.SL6-SLIDER-item-desc-row__value от 1,45 м до 4,60 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Температура воды
                  p.SL6-SLIDER-item-desc-row__value 24°-26° С
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Температура воздуха
                  p.SL6-SLIDER-item-desc-row__value 28° С
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Количество дорожек
                  p.SL6-SLIDER-item-desc-row__value 6 
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Ширина дорожки
                  p.SL6-SLIDER-item-desc-row__value 1,85 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Зона безопасности
                  p.SL6-SLIDER-item-desc-row__value 40 см с каждой стороны
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Длина дорожки
                  p.SL6-SLIDER-item-desc-row__value 25 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Максимальное количество<br>человек на дорожку
                  p.SL6-SLIDER-item-desc-row__value 7
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Оснащен электронной счетной<br>Системой хронометража 
                  p.SL6-SLIDER-item-desc-row__value «ALGE-TIMING»
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Информационное табло
                  p.SL6-SLIDER-item-desc-row__value электронное
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Трибуна для зрителей 
                  p.SL6-SLIDER-item-desc-row__value на 110 мест
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Ночная подсветка
                  p.SL6-SLIDER-item-desc-row__value есть
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Освещенность 
                  p.SL6-SLIDER-item-desc-row__value 200 Lx
            .SL6-SLIDER-item
              .SL6-SLIDER-item-imgbox
                .SL6-SLIDER-item-imgbox-img
                  img(src="assets/images/bas-1.png", alt="").SL6-SLIDER-item-imgbox-img__img
                .SL6-SLIDER-item-imgbox-img
                  img(src="assets/images/bas-2.png", alt="").SL6-SLIDER-item-imgbox-img__img
              .SL6-SLIDER-item-desc
                p.SL6-SLIDER-item-desc__title Бассейн крытый «Спортивный»
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Площадь
                  p.SL6-SLIDER-item-desc-row__value 342 м²
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Объем
                  p.SL6-SLIDER-item-desc-row__value 1001,8 м³
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Размер бассейна
                  p.SL6-SLIDER-item-desc-row__value 25 м х 13,7 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Глубина бассейна
                  p.SL6-SLIDER-item-desc-row__value от 1,45 м до 4,60 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Температура воды
                  p.SL6-SLIDER-item-desc-row__value 24°-26° С
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Температура воздуха
                  p.SL6-SLIDER-item-desc-row__value 28° С
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Количество дорожек
                  p.SL6-SLIDER-item-desc-row__value 6 
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Ширина дорожки
                  p.SL6-SLIDER-item-desc-row__value 1,85 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Зона безопасности
                  p.SL6-SLIDER-item-desc-row__value 40 см с каждой стороны
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Длина дорожки
                  p.SL6-SLIDER-item-desc-row__value 25 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Максимальное количество<br>человек на дорожку
                  p.SL6-SLIDER-item-desc-row__value 7
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Оснащен электронной счетной<br>Системой хронометража 
                  p.SL6-SLIDER-item-desc-row__value «ALGE-TIMING»
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Информационное табло
                  p.SL6-SLIDER-item-desc-row__value электронное
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Трибуна для зрителей 
                  p.SL6-SLIDER-item-desc-row__value на 110 мест
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Ночная подсветка
                  p.SL6-SLIDER-item-desc-row__value есть
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Освещенность 
                  p.SL6-SLIDER-item-desc-row__value 200 Lx
            .SL6-SLIDER-item
              .SL6-SLIDER-item-imgbox
                .SL6-SLIDER-item-imgbox-img
                  img(src="assets/images/bas-1.png", alt="").SL6-SLIDER-item-imgbox-img__img
                .SL6-SLIDER-item-imgbox-img
                  img(src="assets/images/bas-2.png", alt="").SL6-SLIDER-item-imgbox-img__img
              .SL6-SLIDER-item-desc
                p.SL6-SLIDER-item-desc__title Бассейн крытый «Спортивный»
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Площадь
                  p.SL6-SLIDER-item-desc-row__value 342 м²
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Объем
                  p.SL6-SLIDER-item-desc-row__value 1001,8 м³
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Размер бассейна
                  p.SL6-SLIDER-item-desc-row__value 25 м х 13,7 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Глубина бассейна
                  p.SL6-SLIDER-item-desc-row__value от 1,45 м до 4,60 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Температура воды
                  p.SL6-SLIDER-item-desc-row__value 24°-26° С
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Температура воздуха
                  p.SL6-SLIDER-item-desc-row__value 28° С
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Количество дорожек
                  p.SL6-SLIDER-item-desc-row__value 6 
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Ширина дорожки
                  p.SL6-SLIDER-item-desc-row__value 1,85 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Зона безопасности
                  p.SL6-SLIDER-item-desc-row__value 40 см с каждой стороны
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Длина дорожки
                  p.SL6-SLIDER-item-desc-row__value 25 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Максимальное количество<br>человек на дорожку
                  p.SL6-SLIDER-item-desc-row__value 7
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Оснащен электронной счетной<br>Системой хронометража 
                  p.SL6-SLIDER-item-desc-row__value «ALGE-TIMING»
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Информационное табло
                  p.SL6-SLIDER-item-desc-row__value электронное
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Трибуна для зрителей 
                  p.SL6-SLIDER-item-desc-row__value на 110 мест
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Ночная подсветка
                  p.SL6-SLIDER-item-desc-row__value есть
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Освещенность 
                  p.SL6-SLIDER-item-desc-row__value 200 Lx
            .SL6-SLIDER-item
              .SL6-SLIDER-item-imgbox
                .SL6-SLIDER-item-imgbox-img
                  img(src="assets/images/bas-1.png", alt="").SL6-SLIDER-item-imgbox-img__img
                .SL6-SLIDER-item-imgbox-img
                  img(src="assets/images/bas-2.png", alt="").SL6-SLIDER-item-imgbox-img__img
              .SL6-SLIDER-item-desc
                p.SL6-SLIDER-item-desc__title Бассейн крытый «Спортивный»
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Площадь
                  p.SL6-SLIDER-item-desc-row__value 342 м²
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Объем
                  p.SL6-SLIDER-item-desc-row__value 1001,8 м³
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Размер бассейна
                  p.SL6-SLIDER-item-desc-row__value 25 м х 13,7 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Глубина бассейна
                  p.SL6-SLIDER-item-desc-row__value от 1,45 м до 4,60 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Температура воды
                  p.SL6-SLIDER-item-desc-row__value 24°-26° С
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Температура воздуха
                  p.SL6-SLIDER-item-desc-row__value 28° С
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Количество дорожек
                  p.SL6-SLIDER-item-desc-row__value 6 
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Ширина дорожки
                  p.SL6-SLIDER-item-desc-row__value 1,85 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Зона безопасности
                  p.SL6-SLIDER-item-desc-row__value 40 см с каждой стороны
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Длина дорожки
                  p.SL6-SLIDER-item-desc-row__value 25 м
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Максимальное количество<br>человек на дорожку
                  p.SL6-SLIDER-item-desc-row__value 7
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Оснащен электронной счетной<br>Системой хронометража 
                  p.SL6-SLIDER-item-desc-row__value «ALGE-TIMING»
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Информационное табло
                  p.SL6-SLIDER-item-desc-row__value электронное
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Трибуна для зрителей 
                  p.SL6-SLIDER-item-desc-row__value на 110 мест
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Ночная подсветка
                  p.SL6-SLIDER-item-desc-row__value есть
                .SL6-SLIDER-item-desc-row
                  p.SL6-SLIDER-item-desc-row__key Освещенность 
                  p.SL6-SLIDER-item-desc-row__value 200 Lx
