extends ../template
block title
  | 6.6 Расписание
block content
  .red.solo
    .shedule-wrap
      h1.defaultTitle.shedule__title Расписание и программы
      .shedule__placeholder Футбол 
      .shedule
        .shedule-tabs
          a(href="#1").shedule-tabs__tab.active Футбол 
          a(href="#2").shedule-tabs__tab Йога
          a(href="#3").shedule-tabs__tab Плавание
          a(href="#4").shedule-tabs__tab Аквааэробика
          a(href="#5").shedule-tabs__tab Смешанные<br>единоборства
          a(href="#6").shedule-tabs__tab Настольный<br>теннис
          a(href="#7").shedule-tabs__tab Фитнес
        .shedule-main
          .shedule-main-item(id="1").active
            p.shedule-main-item__title Расписание занятий по плаванию
            .shedule-table
              .shedule-table-row
                .shedule-table-row-cell Понедельник
                .shedule-table-row-cell Вторник
                .shedule-table-row-cell Среда
                .shedule-table-row-cell Четверг
                .shedule-table-row-cell Пятница
                .shedule-table-row-cell Суббота
                .shedule-table-row-cell Воскресенье
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00<br>
                  span (4 — 6 лет)
                .shedule-table-row-cell
          .shedule-main-item(id="2")
            p.shedule-main-item__title Расписание занятий по плаванию
            .shedule-table
              .shedule-table-row
                .shedule-table-row-cell Понедельник
                .shedule-table-row-cell Вторник
                .shedule-table-row-cell Среда
                .shedule-table-row-cell Четверг
                .shedule-table-row-cell Пятница
                .shedule-table-row-cell Суббота
                .shedule-table-row-cell Воскресенье
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
          .shedule-main-item(id="3")
            p.shedule-main-item__title Расписание занятий по плаванию
            .shedule-table
              .shedule-table-row
                .shedule-table-row-cell Понедельник
                .shedule-table-row-cell Вторник
                .shedule-table-row-cell Среда
                .shedule-table-row-cell Четверг
                .shedule-table-row-cell Пятница
                .shedule-table-row-cell Суббота
                .shedule-table-row-cell Воскресенье
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
          .shedule-main-item(id="4")
            p.shedule-main-item__title Расписание занятий по плаванию
            .shedule-table
              .shedule-table-row
                .shedule-table-row-cell Понедельник
                .shedule-table-row-cell Вторник
                .shedule-table-row-cell Среда
                .shedule-table-row-cell Четверг
                .shedule-table-row-cell Пятница
                .shedule-table-row-cell Суббота
                .shedule-table-row-cell Воскресенье
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
          .shedule-main-item(id="5")
            p.shedule-main-item__title Расписание занятий по плаванию
            .shedule-table
              .shedule-table-row
                .shedule-table-row-cell Понедельник
                .shedule-table-row-cell Вторник
                .shedule-table-row-cell Среда
                .shedule-table-row-cell Четверг
                .shedule-table-row-cell Пятница
                .shedule-table-row-cell Суббота
                .shedule-table-row-cell Воскресенье
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
          .shedule-main-item(id="6")
            p.shedule-main-item__title Расписание занятий по плаванию
            .shedule-table
              .shedule-table-row
                .shedule-table-row-cell Понедельник
                .shedule-table-row-cell Вторник
                .shedule-table-row-cell Среда
                .shedule-table-row-cell Четверг
                .shedule-table-row-cell Пятница
                .shedule-table-row-cell Суббота
                .shedule-table-row-cell Воскресенье
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
          .shedule-main-item(id="7")
            p.shedule-main-item__title Расписание занятий по плаванию
            .shedule-table
              .shedule-table-row
                .shedule-table-row-cell Понедельник
                .shedule-table-row-cell Вторник
                .shedule-table-row-cell Среда
                .shedule-table-row-cell Четверг
                .shedule-table-row-cell Пятница
                .shedule-table-row-cell Суббота
                .shedule-table-row-cell Воскресенье
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell
              .shedule-table-row
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell 16:00 — 17:00
                  span (4 — 6 лет)
                .shedule-table-row-cell
                .shedule-table-row-cell