extends ../template
block title
  | Sitemap
block content
  .tabel
    ul
      li
        a(href="index.html") 4. Центр здоровья
        ul
          li 
            a(href="reabilitation.html") 4.1. Реабилитация
            ul
              li 
                p Раздел 4.1.1
                ul
                  li 
                    a(href="dcp.html") 4.1.1.1 Детский церебральный паралич
                  li 
                    a(href="oda.html") 4.1.1.2 Опорно-двигательный аппарат
                  li 
                    a(href="chmt.html") 4.1.1.3 Черепно-мозговая травма
                  li 
                    a(href="insult.html") 4.1.1.4 Инсульт
              li 
                p Раздел 4.1.2
                ul
                  li 
                    a(href="ad.html") 4.1.2.1 Активное долголетие
              li 
                p Раздел 4.1.3
                ul
                  li 
                    a(href="parasport.html") 4.1.3.1 Параспорт
          li 
            a(href="sk.html") 4.2 Санаторно-курортное лечение
            ul
              li 
                a(href="ld.html") 4.2.1 Легкое Дыхание
              li 
                a(href="lp.html") 4.2.2 Легкая походка
              li 
                a(href="actions.html") 4.2.3 Движение – это жизнь
              li 
                a(href="antistress.html") 4.2.4 Антистресс
              li 
                a(href="kids.html") 4.2.5 Укрепление здоровья детей
    ul 
      li
        a(href="lager.html") 5. Детский лагерь