extends ../template
block title
  | Sitemap
block content
  .tabel
    ul
      li
        a(href="index.html") 4. Центр здоровья
        ul
          li 
            a(href="reabilitation.html") 4.1. Реабилитация
            ul
              li 
                p Раздел 4.1.1
                ul
                  li 
                    a(href="dcp.html") 4.1.1.1 Детский церебральный паралич
                  li 
                    a(href="oda.html") 4.1.1.2 Опорно-двигательный аппарат
                  li 
                    a(href="chmt.html") 4.1.1.3 Черепно-мозговая травма
                  li 
                    a(href="insult.html") 4.1.1.4 Инсульт
              li 
                p Раздел 4.1.2
                ul
                  li 
                    a(href="ad.html") 4.1.2.1 Активное долголетие
              li 
                p Раздел 4.1.3
                ul
                  li 
                    a(href="parasport.html") 4.1.3.1 Параспорт
          li 
            a(href="sk.html") 4.2 Санаторно-курортное лечение
            ul
              li 
                a(href="ld.html") 4.2.1 Легкое Дыхание
              li 
                a(href="lp.html") 4.2.2 Легкая походка
              li 
                a(href="actions.html") 4.2.3 Движение – это жизнь
              li 
                a(href="antistress.html") 4.2.4 Антистресс
              li 
                a(href="kids.html") 4.2.5 Укрепление здоровья детей
    ul 
      li
        a(href="lager.html") 5. Детский лагерь
        ul 
          li
            a(href="winter.html") 5.1 Зимний лагерь 
          li
            a(href="spring.html") 5.2 Весенний лагерь
          li
            a(href="summer.html") 5.3 Летний лагерь
          li
            a(href="autumn.html") 5.4 Осенний лагерь
          li
            a(href="winterOD.html") 5.5 Дневной лагерь на зимних каникулах
          li
            a(href="springOD.html") 5.6 Дневной лагерь на весенних каникулах
          li
            a(href="summerOD.html") 5.7 Дневной лагерь на летних каникулах
          li
            a(href="autumnOD.html") 5.8 Дневной лагерь на осенних каникулах
    ul 
      li
        a(href="fitnes.html") 6 Фитнес клуб
        ul
          li
            a(href="abonement.html") 6.1 Абонементы и цены
          li
            a(href="pool.html") 6.2 Бассейн
          li
            a(href="trainers.html") 6.3 Тренажерные залы
          li
            a(href="group1.html") 6.4 Групповые занятия 1
          li
            a(href="group2.html") 6.5 Групповые занятия 2
          li
            a(href="shedule.html") 6.6 Расписание 
          li
            a(href="team.html") 6.7 Сотрудники
          li
            a(href="rent.html") 6.8 Аренда спортивных сооружений