extends ../template
block title
  | 6.7 Сотрудники
block content
  .red.solo
    .advantages.advantages_4.advantages_full.advantages_grayCircle
      .advantages-wrap 
        .advantages-row.advantages-row_team
          .advantages-row-item
            .advantages-row-item__img
              img(src="assets/images/team-1.png" alt="")
            p.advantages-row-item__title Честность
            p.advantages-row-item__text Мы всегда открыты<br>для наших гостей
          .advantages-row-item
            .advantages-row-item__img
              img(src="assets/images/child_camp/docs/deti-2.png" alt="")
            p.advantages-row-item__title Надежность
            p.advantages-row-item__text Мы знаем, что на нас<br>можно рассчитывать и<br>каждый готов помочь
          .advantages-row-item
            .advantages-row-item__img
              img(src="assets/images/child_camp/docs/deti-3.png" alt="")
            p.advantages-row-item__title Структурированность
            p.advantages-row-item__text Мы стремимся к<br>понятной структуре в<br>делах, мыслях и словах
          .advantages-row-item
            .advantages-row-item__img
              img(src="assets/images/child_camp/docs/deti-4.png" alt="")
            p.advantages-row-item__title Здоровье
            p.advantages-row-item__text Мы развиваем<br>здоровый дух и тело и<br>любви к работе
    .team
      h1.defaultTitle.team__title Сотрудники
      .team-wrap
        .team-item(style="background-image: url(assets/images/team-pers.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-2.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-3.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-4.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-5.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-6.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-7.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-8.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-9.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-10.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее
        .team-item(style="background-image: url(assets/images/pers-11.png);")
          .team-item-content
            p.team-item-content__name Романюк Денис Александрович
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
            .team-item-content__text 
              em Тренер тренажёрного зала<br>Тренерский стаж более 10 лет
              strong Образование 
              | Высшее, сертификат IFS по бодибилдингу и фитнесу, сертификат ФСОК по атлетической гимнастике
          p.btn.team-item__btn Подробнее