@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Heavy.woff2') format('woff2'),
      url('../fonts/Geometria-Heavy.woff') format('woff'),
      url('../fonts/Geometria-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

